

p{
    font-size: 20px;

}

body{
    display: grid;
    width: 100%;
    height:100vh;
    grid-template-rows:repeat(1, var (--strips-height)) 1fr var(--strips-height) ;
    
}


article{
    display: grid;
    height:100%;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    
}

article img{
    width:100%;
    height:100%;
    object-fit: cover

}

.wrap{
   
display: flex;
background-image: linear-gradient(120deg, #ecbb18, #086830);
}
.table-col1{
    flex-grow: 1;
    
}
.form-col2{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid black;
    margin:10px;
}

.btn-color{
    background-color: rgb(163, 163, 18);
}
#contact {
    color:#000063;
    display: flex;
    min-height: 30vh;
    align-items: center;
    text-align: center;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(250deg, #ecbb18, #086830);;

}


#contact:hover{
    transform: scale(1.0);

}
#contact ul{
    padding: 0;
    font-size: 30px;
    list-style: none;
    width: 100%;
}

#contact ul li{
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 15px;
  transition: all .5s ease-in-out;
}

#contact ul li:last-child{
  margin-right: 0;
}

#contact ul li:hover{
  transform: scale(1.5) rotate(-15deg);
}

#contact ul li a{
  text-decoration: none;
  color: #ffffff;
}

.accordion {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background: #009578;
  }
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: block;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  
  .container{
    padding: 3rem;
}


article img{
        display: block;
        width: 100%;
        height: 10vw;
        object-fit: cover
}

.overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity:0;
    transition: .5s ease;
    background-color: rgba(255,255,255,0.9)

}

.caption{
    font-size: 2rem;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.thumbnail{
    transform: translateY(-4px);
}

article:hover .overlay{
    opacity:1;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .row-cols-3>* {
        flex: 0 0 auto;
        width: 100%;
    }

    .wrap{
      
        flex-direction: column;
    }
}



@media only screen and (min-width: 768px) {
    .row-cols-3>* {
        flex: 0 0 auto;
        width: 50%;
    }

    .wrap{
      
        flex-direction: column;
    }
}


@media only screen and (min-width: 1000px) {
    .row-cols-3>* {
        flex: 0 0 auto;
        width: 33%;
    }
    .wrap{
        flex-direction: row;
    }
}
