

p{
    font-size: 20px;

}

body{
    display: grid;
    width: 100%;
    height:100vh;
    grid-template-rows:repeat(1, var (--strips-height)) 1fr var(--strips-height) ;
    
}


article{
    display: grid;
    height:100%;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    
}

article img{
    width:100%;
    height:100%;
    object-fit: cover

}

.wrap{
   
display: flex;
background-image: linear-gradient(120deg, #ecbb18, #086830);
}
.table-col1{
    flex-grow: 1;
    
}
.form-col2{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid black;
    margin:10px;
}

.btn-color{
    background-color: rgb(163, 163, 18);
}
#contact {
    color:#000063;
    display: flex;
    min-height: 30vh;
    align-items: center;
    text-align: center;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(250deg, #ecbb18, #086830);;

}


#contact:hover{
    transform: scale(1.0);

}
#contact ul{
    padding: 0;
    font-size: 30px;
    list-style: none;
    width: 100%;
}

#contact ul li{
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 15px;
  transition: all .5s ease-in-out;
}

#contact ul li:last-child{
  margin-right: 0;
}

#contact ul li:hover{
  transform: scale(1.5) rotate(-15deg);
}

#contact ul li a{
  text-decoration: none;
  color: #ffffff;
}



@media (max-width: 786px) {
    .row-cols-3>* {
        flex: 0 0 auto;
        width: 100%;
    }

    .wrap{
      
        flex-direction: column;
    }
}

